#changer{
	-fx-background-color: #5f1919;
	-fx-padding: 20;
}
#tut{
	-fx-padding: 20;
	-fx-background-color: #5f1919;
	-fx-text-fill: white;
}
.TextField{
	-fx-background-color: gray;
}

