 
.label{
	-fx-padding: 5.0px;
	-fx-text-fill: white;
	-fx-alignment: center;
}


.playerPaneLabel {
	-fx-padding: 5.0px;
    
  	-fx-alignment: center;
  	-fx-text-fill: white;
	
}


#controlArea {
	-fx-alignment: center;
	-fx-background-color: #5f1919;
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
    -fx-border-color: white;
    -fx-border-width: 2.0px;
    -fx-font-size: 18px;
}

.player {
	-fx-alignment:  top-center ;
	-fx-padding: 5.0px;
	-fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.card {
    -fx-font-size: 18px;
	-fx-padding: 5px;
    -fx-border-color: white;
    -fx-border-width: 1.0px;
	-fx-background-color: black;
    -fx-min-width: 50;
    -fx-pref-width: 60;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 90;
    -fx-max-height: 800;
   
}

.card:hover{
	/*-fx-effect:dropshadow;*/
	-fx-background-color: #303030;
	
}

#root{
	-fx-background-image: url("../../images/backgroundfadedark.png");
	-fx-background-position: center;
	-fx-text-fill: #800000;
}

.button{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-padding: 10px;
}

.button:hover{
	-fx-background-color: #990000;
}

.menu-bar{
	-fx-color: black;
	-fx-background-color: #5f1919;
	-fx-border-color: white;
	-fx-font-size: 18px;
	}
	
.menu-item{
	-fx-background-color: #5f1919;
	-fx-border-color: white;
}

.menu-item:hover{
	-fx-background-color: #990000;
}

.menu{
	-fx-width: 50px;
}

.menu:hover{
	-fx-background-color: #990000;
}

#deckimg{
	-fx-border-color: white;
	-fx-background-color: black;
}

.stats{
	-fx-padding: 0px,20px,0px,0px;
}

#deck{
	-fx-max-width: 60; 
}






